black>=20.8b1
ipykernel>=5.5
ipython>=7.21
jupyter>=1.0
matplotlib>=3.3
notebook>=6.2
nptyping>=1.4
numpy>=1.19
pandas>=1.2
pillow>=8.1.1
pip>=21.0
pytorch>=1.8
scikit-learn>=0.24
scipy>=1.6
torchvision>=0.9
notexbook-theme>=2.0.0
